<!DOCTYPE html>
<html>
 <head>
      <title>Components</title>
	  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="layout.css">
 </head>
  
 <body>
    
	 
	 <!-- top nav --> 
    <div class="topnav">
    TOP NAV
    </div>
   
	<div class="page">
	  
	
		
	<!-- hero section -->
    HERO SECTION
    <div class="content">
        
	<img src="img/hero.jpg" alt="hero image"/>
	<div class="text">
    <h1>The future of money is here</h1>
    <p>Over 108 million people and businesses trust us to buy, sell, and manage crypto.</p><br>
    </div>
	</div>
    
		
		
	<!-- row 2 --> 
    ROW 2
	<div class="content">
        
	<div class="text">
    <p>Get up to $400 in rewards with Coinbase</p><br>
	</div>
    <img src="img/trophy.jpg" alt="hero image"/>	  
	</div>
     
		
		
	<!-- row 3 -->
	ROW 3
    <div class="content">
        
	<img src="img/people.jpg" alt="hero image"/>
	<div class="text">
    <p>The freedom of crypto for everyone, everywhere</p><br>
    </div>      
	</div>

    
	
  </div>
      
    
  </body>
</html>
 