.page{
  max-width: 1200px;
  width: 100%;  
  
}

body{
	font-family: Roboto, san-serif;
	
}

.topnav, .content {
  border: 1px solid black;
  margin: 20px 0px;
  max-width: 1200px;
}

.content{ 
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  font-family: sans-serif;
  font-size: 14px;
  text-align: center;
}

/* hero image */
img{
  max-width: 33.33%; 
  padding: 100px;
  
	
/* elements within content divs */
}
.text{
  display: inline-block;
  width: 100%;
  
}
h1{
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}

p{
  font-size: 15px;
  text-align: center;
}

/* img / text hover animation */

@keyframes changescale{
	from {transform: scale(1,1)}
	to {transform: scale(1.1,1.1)}
}

img:hover{
	animation-fill-mode: forwards;
	animation-name: changescale;
	animation-duration: .2s;
	animation-timing-function: ease-out;
}

.text:hover{
	animation-fill-mode: forwards;
	animation-name: changescale;
	animation-duration: .2s;
	animation-timing-function: ease-out;
}

.text:hover{
	color: blue;
}
